
.dataTables_wrapper {
	padding-top: 50px;
}

span.checkbox_sameAddress {
	font-weight: normal; 
	font-size: .9em; color: red;/* #3a89de;*/
	display: none;
}

#heading_container_left {
	padding: 10px; 
	display: none; 
	float: left; 
	margin-left: 200px; 
	border: 0px solid orange;
}


#section_CustomerContact {
    /*margin-top: 20px;*/
}


#quoteViewForm,
#quoteAddForm,
#quoteUpdateForm {
	margin-top: 120px;
}


/*#ui-id-1,
#ui-id-2,
#ui-id-3,
#ui-id-4 */
a[id^='ui-id-'] {
	font-variant: small-caps;
	font-weight: bold;
	color: #2e3b4e;   /*  #a31128;*/
}


#ajax_loading_image {
	display:none;
	/*margin-left: 10px;*/
}

#iq2_title {
	float: right;
	text-align: right;
	margin-top: 20px;
	color: #a31128;
	font-size: 28px;
	font-weight: bold;
}

/* --------------------------------------    Main Menu     */   
#mainmenu {
	background: linear-gradient( lightgray, gray );
}

#mainmenu ul {
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li {
	display: inline;
	font-weight: normal;
}

#mainmenu ul li a  {
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	/*color: #6399cd;*/
	/*background-color:#EFF4FA;*/
	color: black;
	background-color: lightyellow;
	border-radius: 25px;

	text-decoration:none;
	padding-bottom: 3px;
}

#mainmenu ul span {
	float: right;
	font-weight: bold;
	color: black;
	background-color: lightyellow;
	padding: 1px 5px 1px 5px;
	border-radius: 5px;
}


/* --------------------------------------    Dashboard     */
div#dashboard_div {
	padding: 20px 20px 0px 20px; 
	float: left; 
	border: 0px solid orange;
	float: right;
}

#dashboard_table {
	border: 1px solid lightblue;

}

#dashboard_table > caption {
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
	border: 1px solid lightblue;
}

#dashboard_table > tbody > tr > td {
	font-size: .8em;
	padding: 2px 4px 1px 2px;
	color: gray;
}

#dashboard_table > tbody > tr > td:nth-child(1),
#dashboard_table > tbody > tr > td:nth-child(3) {
	text-align: right;
	font-weight: bold;
}

#dashboard_table > tbody > tr > td:nth-child(2),
#dashboard_table > tbody > tr > td:nth-child(4) {
	text-align: center;
	font-weight: normal;
	color:#a31128;
}


.pageTitle {
	color: #2C6371; /*#2e3b4e; */
	font-size: 2em;
}

#quotes_table {
	padding-top: 10px;
}

#quotes_table > thead > tr > th {
	background: #5E6E78;
    color: white;
    font-variant: small-caps;
    font-size: .9em;
    text-align: center;
}

a {color:#1485cc;text-decoration:underline;}


/* --------------------------------------    DataTable     */
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: lightyellow;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
    color: lightyellow;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
    color: lightyellow;
}


/*   from Annalyse  */
.status_accepted {
	background-color: #CCFFCC;
	border: 1px solid blue;
	color: black;
	padding: 0px 5px 0px 5px;
}

.status_completed {
	color: blue;
}

.status_inprocess {
	background-color: #66FFFF;
	border: 1px solid blue;
	color: black;
	padding: 0px 5px 0px 5px;
}

.status_rejected {
	color: red;
}

.status_submitted {
	background-color: #FFDA91;
	border: 1px solid blue;
	color: black;
	padding: 0px 5px 0px 5px;
}



#quotes_table > tbody > tr > td:nth-child(4) {
	color: #a31128;
}

#quotes_table > tbody > tr {
	font-size: .8em;
}

#quotes_table > tbody > tr:nth-child(odd) {
   background: #E6E6E6; /* #ECF1EF; */
}


a[id^='quote_delete_']:hover {
	text-decoration: underline;
}

#quotes_table > tbody > tr:hover {
	background-color: #FDFCDC; 
}

span[id^='quote_view_'] > img {
	border: 1px dotted white;
}

span[id^='quote_view_'] > img:hover {
	border: 1px solid gray;
}

#quotes_table > tbody > tr > td {
	text-align: center;
}

#add_quote > img {
	/*padding-left: 30px;*/
	cursor: pointer;
}

span.required {
	color: red;
}

#quote_customer {
	border: 0px solid lightgray;
	/*padding-bottom: 37px;*/
}
#quote_contact {
	border-left: 1px solid lightgray;
}


#pre_quote_table > tbody > tr > td {
	vertical-align: top;
	
}

#pre_quote_table  {
	 border: 1px solid lightgray;
}


#quote_details > caption,
#quote_parts > caption,
#quote_table > caption,
#quote_customer > caption,
#quote_contact > caption {
 	font-size: .9em;
 	font-weight: bold;
 	text-align: center;
 	background-color: white;
 	padding: 10px;
}

.quote_section_heading_View {
	/*text-align: center;*/
}

.quote_section_heading_View,
.quote_section_heading {
	background-color: #EBECE4;
	font-size: 1.2em;
 	font-weight: bold;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	margin-top: 30px;
}

#quote_details {
	border: 0px solid green;
}

#quote_details > tbody > tr > td > table {
	border: 0px solid red;
}

#quote_details > tbody > tr > td > table > tbody > tr > td:nth-child(odd) {
	border: 0px solid lightblue;
	text-align: right;
	font-weight: bold;
	font-size: .8em;
	width: 100px;
}

span[id^=showHide_] {
	padding-right: 5px; 
	padding-left: 5px; 
	font-size: .8em;
	color: gray;
}

span[id^=showHide_]:hover {
	cursor: pointer;
}



div#form_customer_contact {
	border: 0px solid orange;
}

div#form_details,
div#form_parts_lookup {
	display: none;
}

#quote_customer > tbody > tr > td:nth-child(odd) ,
#quote_contact > tbody > tr > td:nth-child(odd) {
 	text-align: right;
	font-weight: bold;
	font-size: .8em;
	padding-left: 5px;
}

#quote_details > tbody > tr:nth-child(3) {
	border: 2px solid lightblue;
}


#quote_customer > tbody > tr > td,
#quote_contact > tbody > tr > td {
	padding: 2px 3px 0px 0px;
}

div.form {
	padding-bottom: 5px;
}

#table_CurrentParts > caption {
	text-align: left;
	font-weight: normal;
	font-size: .8em;
	color: red;
	padding: 5px;
	background-color: white;
	display: none;
}

#table_CurrentParts > thead > tr > th:nth-child(7) {
	text-align: center;
}
#table_CurrentParts > thead > tr > th {
	background: #E6E6E6;
	color: black;
	font-size: .8em;
	padding: 5px;
	height: 20px;
	text-align: center;
}


/*#table_CurrentParts > tbody > tr > td:nth-child(6),
#table_CurrentParts > tbody > tr > th:nth-child(7)  {
	text-align: left;
	width: 300px;
}*/

#table_CurrentParts > tbody > tr > td {
	font-size: .8em; 
	padding: 0px;
	text-align: center;
}


#table_CurrentParts > tbody > tr > td:nth-last-child(1) {
	padding-left: 20px;
	width: 150px;
	text-align: left;
	padding-top: 5px;
}

#table_CurrentParts > tbody > tr  {
	height: 30px;
}


/*
#table_CurrentParts tbody > tr:nth-child(odd)  {
   background: #FBF5E6;
}*/

#table_CurrentParts > tbody > tr:hover {
	background: #ECF1EF;
}



#results_table > tbody > tr > td:nth-child(4) > table > tbody > tr > td {
	text-align: right;
}

#results_table > tbody > tr:hover {
	background-color: lightyellow;
	cursor: pointer;
}

#results_table > tbody > tr > td {
	text-align: center;
	font-size: .8em;
}

/*  row striping */
#results_table > tbody > tr:nth-child(odd)  {
   background: #E6E6E6;
}

#results_table > thead > tr > th  { 
	background: #5E6E78;
  	color: white;
  	font-variant: small-caps;
  	font-size: .9em;
  	text-align: center;
}

#div_ViewCustomer {
	border: 1px solid green;
}
#div_ViewContact {
	border: 1px solid red;
}
/*#quote_contact_container,
#quote_customer_container {*/
	/*height: 480px;*/
	/*overflow-y: scroll;*/
	/*border: 1px solid lightgray;
}*/

#button_continue {
	font-size: 1.4em; 
	cursor: pointer;
}

#footer {
	margin-top: 100px;
}

#form_customer_contact > div > table   {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

#form_customer_contact > div > table > tbody > tr > td:nth-child(odd) {
	text-align: right;
	font-weight: bold;
	font-size: .9em;
	padding-left: 5px;
	color: #555555;
}

#form_customer_contact > div > table > tbody > tr > td:nth-child(5) > span {
	font-size: 1.1em;
	font-family: Courier;
	color: #a31128;
}

#resetCustomers,
#resetContacts {
	color: #a31128;
	text-decoration: underline;
}

#createNewCustomer,
#createNewContact {
	text-decoration: underline;
	color: #2C6371;
}

#enableAutoSelect {
	padding-left: 30px;
	color: #a31128;
	font-weight: normal;
	font-size: .8em;
}

#refresh_contacts:hover,
#refresh_customers:hover,
#resetCustomers:hover,
#resetContacts:hover,
#enableAutoSelect:hover,
#createNewCustomer:hover,
#createNewContact:hover {
	cursor: pointer;
}


span.select_replacement {
	font-family: Courier;
}

#span_SelectSource {
	/*padding-left: 50px; */
	font-weight: bold;
}


#reset_form  {
	font-size: .8em;
	color: #3a89de;
	text-decoration: underline;
	margin-left: 600px;
	font-weight: bold;
}

#cancel_Start {
	color: #a31128;
	font-weight: bold;
	margin-left: 10px;
	text-decoration: underline;
	font-size: .8em;
}


#cancel_Start:hover,
#reset_form:hover {
	cursor: pointer;
}

#div_ContinueReset > input[type="submit"] {
	font-size: 1.4em;
	background-color: lightgray;
}

#div_ContinueReset > input[type="submit"]:hover {
	cursor: pointer;
}

#quote_level {
	color: #a31128;
	font-weight: bold;
}

span[id^="Customers_"] {
	background-color: #f0f0f0;
	border: 1px solid lightgray;
    padding-left: 5px;
    padding-right: 5px;
}

#yw0 > tbody > tr > th {
	background-color: lightgray;
	color: black;
}


#view_contacts > span, 
#view_attachments > span {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
    color: #555555;
    margin-left: 80px;
    text-decoration: underline;
}

#view_contacts > li, #view_attachments > li {
    margin-left: 120px;
}


a.edit_quote_cust {
    color: red;
    font-variant: small-caps;
    margin-left: 20px;
    padding: 2px;
}



table.items_table th {
	background-color: lightgray;
	margin-top: 20px;
}

#content > table.items_table > tbody:nth-child(3) > tr > td:nth-child(6) > table > tbody > tr > td:nth-child(2) > span  {
    font-size: .7em;
    padding-right: 5px;
    color: green;
}


#table_quote_pricing {
     margin-bottom: 0; 
    width: 100%;
}

table#fixed td, th {
	color: black;
}

img[id^='item_trash_'],
img[id^='item_edit_'],

img[id^='quote_approve_'],
img[id^='quote_reject_'],

img[id^='quote_edit_'],
img[id^='quote_attach_'],
img[id^='quote_print_'],
img[id^='quote_email_'],
img[id^='quote_trash_'],
img[id^='quote_contact_'],
img[id^='quote_pdf_'] {
	padding: 5px;
}


img[id^='quote_contact_']:hover,
img[id^='quote_pdf_']:hover,
img[id^='quote_edit_']:hover,
img[id^='quote_delete_']:hover,
img[id^='item_pdf_']:hover,
img[id^='item_edit_']:hover,
img[id^='item_trash_']:hover,
img[id^='quote_']:hover {
	border: 1px solid gray;
	cursor: pointer;
} 


span[id^='delete_quote_']  {
	padding: 10px; 
	color: #1485cc; 
	font-variant: small-caps;
	text-decoration: underline;
}

span[id^='edit_quote_']:hover {
	cursor: pointer;
}

span[id^='edit_quote_'] {
	padding: 0px 60px 0px 0px;
	color: #a31128;
	font-weight: bold;
    text-decoration: underline;
    font-variant: small-caps;
}



/************ from _form.php  -- TODO: check for duplicates (eventually remove _form.php) *******************/


div.my_container {
	padding: 5px;
	border-top: 1px solid lightgray;
	height: 100%; 
	overflow: auto;
}



div.my_container > div {
	float: left;
	padding: 10px;
	width: 25%;
	margin: 2px;
}

div.my_container > div > table > tbody > tr > td {
	font-size: .8em;
}

div.my_container > div > table > tbody > tr > td > input {
	background-color: #f0f0f0;
	font-family: Courier;
	font-weight: bold;
}

div.my_container > div > table > tbody > tr > td:nth-child(odd) {
	text-align: right;
	font-weight: bold;
}

#box1 {
   border: 0px solid orange;
   width: 31%;
}

#box2 {
	border: 0px solid green;
	width: 30%;
}

#box3 {
	border-left: 1px solid lightgray; 	
	/*border: 1px solid blue;*/
	margin-left: 20px;
	width: 28%;
	padding-right: 0px;
}

#box4 {
	border: 0px solid lightgreen;
	width: 97%;
	/*display: none;*/
}

#span_SelectCustomer,
#span_SelectContact {
	display:none;
	padding-left: 30px;
	font-weight: bold;
	font-size: .8em;
}


#heading_container {
	border: 0px solid purple;
	text-align: center; 
	float: left;  
	width: 100%; 
	font-weight: normal; 
	padding: 5px 0px 20px 0px;
	font-size: .9em;
}

#customer_heading {
	border: 0px solid green;
	float: left;
	margin-left: 300px;
}

#contact_heading {
	border: 0px solid blue;
	float: right;
	margin-right: 100px;
}

#add_NewContact,
#add_NewCustomer {
	text-decoration: underline;
	color: #2C6371;
	padding-left: 10px;
	font-variant: small-caps;
}

#add_NewContact:hover,
#add_NewCustomer:hover {
	cursor: pointer;
}

#selection_container {
	padding: 10px 0px 10px 0px;
}

span.open_close {
	/*display: none;*/
	padding-left: 10px;
}


#section_PartsLookup {
	display: none;
}

#section_Parts {
	margin-top: 10px;
}

span.open_close:hover {
	cursor: pointer;
}

span.terms {
	font-variant: small-caps;
	color: black;
}


#div_ActionButtons > input {
	background-color: lightgray;
    font-size: 1.2em;
    margin: 50px 0px 0px 10px;
}

#div_ActionButtons > input:hover {
	cursor: pointer;
}

#table_Parts > tbody > tr > td {
	text-align: right;
}

span.volume {
	font-size: .7em;
 	font-weight: bold;
    color: blue;
}



#table_Parts {
	margin-bottom: 0;
}


#addPartToQuote {
	color: #2e3b4e; 
	text-decoration: underline; 
	font-size: .9em;
}

#addPartToQuote:hover {
	cursor: pointer;
}

#changeStatus {
	color: blue;
	text-decoration: underline;
}

#changeStatus:hover {
	cursor: pointer;
}


#span_NewCustomer {
	padding-left: 135px;

}

#span_NewContact:hover {
	cursor: pointer;
}

#span_NewContact {
	padding-left: 110px;
	/*color: blue;
	text-decoration: underline;
	font-variant: small-caps;
	font-weight: bold;*/
}


span.span_links {
	font-size: .8em;
	color: #3a89de;
	text-decoration: underline;
	padding-left: 20px;
	font-weight: bold;
	/*display: none;*/
}

span.span_links:hover {
	cursor: pointer;
}

/*

span#clearContactFields {
	color: blue;
	text-decoration: underline;
	font-variant: small-caps;
	font-weight: bold;
}

span#clearContactFields:hover {
	cursor: pointer;
}

*/


#div_ItemContent > table {
	border: 1px solif lightgray;
}

#div_ItemContent > table > tbody > tr:hover {
	/*background-color: #FEF5CA;*/
}


#div_ItemContent > table > tbody > tr > th {
	text-align: center;
	background-color: #E6E6E6;
}

#div_ItemContent > table > tbody > tr > td {
	font-size: .8em;
	text-align: center;
	
	border-left: 0px solid lightgray;
	border-top: 0px solid lightgray;
}

input[id^='item_price'],
input[id^='item_qty'] {
	width: 50px;
}
input[id$='_comments'] {
	width: 400px;
}

#div_ItemContent > table > tbody > tr > td:nth-child(1) { 
	color: green;
	text-align: right;
	width: 60px;
}
#div_ItemContent > table > tbody > tr > td:nth-child(2) { 
	width: 50px;
}
#div_ItemContent > table > tbody > tr > td:nth-child(3) { 
	width: 50px;
	text-align: center;
}
#div_ItemContent > table > tbody > tr > td:nth-child(4) { 
	width: 60px;
}

#div_ItemContent > table > tbody > tr > td:nth-child(5) { 
	/*width: 250px;*/
}

span#witty_saying {
   position: relative; 
   top: 150px; 
   left: 550px; 
   width: 100%; 
   color: #5E6E78; /* #393941;*/
   font-size: 1.1em;
   font-weight: normal;
   font-style: italic;
   z-index: 9;
}

#quotes_table_length > label {
	color: white;
}


























