
#iq2_title {
	float: right;
	text-align: right;
	margin-top: 20px;
	color: #a31128;
	font-size: 28px;
	font-weight: bold;
}

/* --------------------------------------    Main Menu     */
#mainmenu {
	background: linear-gradient( lightgray, gray );
}

#mainmenu ul {
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li {
	display: inline;
	font-weight: normal;
}

#mainmenu ul li a  {
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	/*color: #6399cd;*/
	/*background-color:#EFF4FA;*/
	color: black;
	background-color: lightyellow;
	border-radius: 25px;

	text-decoration:none;
	padding-bottom: 3px;
}

#mainmenu ul span {
	float: right;
	font-weight: bold;
	color: black;
	background-color: lightyellow;
	padding: 1px 5px 1px 5px;
	border-radius: 5px;
}


/* --------------------------------------    Dashboard     */
div#dashboard_div {
	padding: 20px 20px 0px 20px; 
	float: left; 
	border: 0px solid orange;
}

#dashboard_table {
	border: 1px solid lightblue;
}

#dashboard_table > caption {
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
	border: 1px solid lightblue;
}

#dashboard_table > tbody > tr > td {
	font-size: .8em;
	padding: 2px 4px 1px 2px;
	color: gray;
}

#dashboard_table > tbody > tr > td:nth-child(1),
#dashboard_table > tbody > tr > td:nth-child(3) {
	text-align: right;
	font-weight: bold;
}

#dashboard_table > tbody > tr > td:nth-child(2),
#dashboard_table > tbody > tr > td:nth-child(4) {
	text-align: center;
	font-weight: normal;
	color:#a31128;
}


.pageTitle {
	color: #2C6371; /*#2e3b4e; */
	font-size: 2em;
}

#quotes_table {
	padding-top: 10px;
}

#quotes_table > thead > tr > th {
	background: #5E6E78;
    color: white;
    font-variant: small-caps;
    font-size: .9em;
    text-align: center;
}

a {color:#1485cc;text-decoration:underline;}


/* --------------------------------------    DataTable     */
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: lightyellow;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
    color: lightyellow;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
    color: lightyellow;
}

#quotes_table > tbody > tr > td:nth-child(4) {
	color: #a31128;
}

#quotes_table > tbody > tr {
	font-size: .8em;
}

#quotes_table > tbody > tr:nth-child(odd) {
   background: #ECF1EF; 
}


a[id^='quote_delete_']:hover {
	text-decoration: underline;
}

#quotes_table > tbody > tr:hover {
	background-color: #FDFCDC; 
}

span[id^='view_quote_'] > img,
span[id^='edit_quote_'] > img,
span[id^='delete_quote_'] > img {
	border: 1px dotted white;
}

span[id^='view_quote_'] > img:hover,
span[id^='edit_quote_'] > img:hover,
span[id^='delete_quote_'] > img:hover {
	border: 1px solid gray;
}

#quotes_table > tbody > tr > td {
	text-align: center;
}

#add_quote > img {
	padding-left: 30px;
	cursor: pointer;
}

span.required {
	color: red;
}

#quote_customer {
	border: 0px solid lightgray;
	/*padding-bottom: 37px;*/
}
#quote_contact {
	border-left: 1px solid lightgray;
}


#pre_quote_table > tbody > tr > td {
	vertical-align: top;
	
}

#pre_quote_table  {
	margin-bottom: 0;
}


#quote_details > caption,
#quote_parts > caption,
#quote_table > caption,
#quote_customer > caption,
#quote_contact > caption {
 	font-size: .9em;
 	font-weight: bold;
 	text-align: center;
 	background-color: white;
}

.quote_section_heading {
	background-color: #EBECE4;
	font-size: 1.2em;
 	font-weight: bold;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	margin-top: 10px;
}

#quote_details {
	border: 0px solid green;
}

#quote_details > tbody > tr > td > table {
	border: 0px solid red;
}

#quote_details > tbody > tr > td > table > tbody > tr > td:nth-child(odd) {
	border: 0px solid lightblue;
	text-align: right;
	font-weight: bold;
	font-size: .8em;
	width: 100px;
}

span[id^=showHide_] {
	padding-right: 5px; 
	padding-left: 5px; 
	font-size: .8em;
	color: gray;
}

span[id^=showHide_]:hover {
	cursor: pointer;
}



div#form_cutomer_contact {
	border: 0px solid orange;
	/*height: 420px;*/
}

div#form_details,
div#form_parts_lookup {
	display: none;
}

#quote_customer > tbody > tr > td:nth-child(odd) ,
#quote_contact > tbody > tr > td:nth-child(odd) {
 	text-align: right;
	font-weight: bold;
	font-size: .8em;
	padding-left: 5px;
}

#quote_details > tbody > tr:nth-child(3) {
	border: 2px solid lightblue;
}


#quote_customer > tbody > tr > td,
#quote_contact > tbody > tr > td {
	padding: 2px 3px 0px 0px;
}

div.form {
	padding-bottom: 5px;
}


#results_table > thead > tr > th  { 
	background: #5E6E78;
  	color: white;
  	font-variant: small-caps;
  	font-size: .9em;
  	text-align: center;
}


#quote_contact_container,
#quote_customer_container {
	height: 480px;
	/*overflow-y: scroll;*/
	border: 0px solid lightgray;
}

#button_continue {
	font-size: 1.4em; 
	cursor: pointer;
}

#footer {
	margin-top: 100px;
}

#form_cutomer_contact > div > table   {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

#form_cutomer_contact > div > table > tbody > tr > td:nth-child(odd) {
	text-align: right;
	font-weight: bold;
	font-size: .9em;
	padding-left: 5px;
	color: #555555;
}

#form_cutomer_contact > div > table > tbody > tr > td:nth-child(5) > span {
	color: blue;
	font-size: 1.1em;
	font-family: Courier;
	color: #a31128;
}





